/node_modules
/public/css
/public/js
/public/hot
/public/images
/public/storage
/public/vendors
/public/*.*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
